link#bootstrap-css(href='../../node_modules/bootstrap/dist/css/bootstrap.min.css')
script(href='../../node_modules/bootstrap/dist/js/bootstrap.min.js')
script(src="../../node_modules/jquery/dist/jquery.min.js")

head
  link#bootstrap-css(href='node_modules/bootstrap/dist/css/bootstrap.min.css')
  script(href='../../node_modules/bootstrap/dist/js/bootstrap.min.js')
  script(src="../../node_modules/jquery/dist/jquery.min.js")
  link(rel='stylesheet', href='../../public/css/login.css')

body#LoginForm
  .container
    .login-form
      .main-dev
        .panel
          h2 Recuperacion de password
          p Revise su cuenta de email y siga las instrucciones.