link#bootstrap-css(href='../../node_modules/bootstrap/dist/css/bootstrap.min.css')
script(src='../../node_modules/bootstrap/dist/js/bootstrap.min.js')
script(src="../../node_modules/jquery/dist/jquery.min.js")

head
  link#bootstrap-css(href='node_modules/bootstrap/dist/css/bootstrap.min.css')
  script(src='../../node_modules/bootstrap/dist/js/bootstrap.min.js')
  script(src="../../node_modules/jquery/dist/jquery.min.js")
  link(rel='stylesheet', href='../../public/css/login.css')

body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message
            div.alert.alert-danger
              = info.message
          h2 Recuperacion de Password
          p Por favor, ingrese su email para enviarle las instrucciones de recuperacion de password de su cuenta

        form#Login(action='/forgotPassword' method='post')
          .form-group
            input#email.form-control(type='email' placeholder='Email Address' name='email')
          button.btn.btn-primary(type='submit') Resetear