link#bootstrap-css(href='./node_modules/bootstrap/dist/css/bootstrap.min.css')
script(href='/node_modules/bootstrap/dist/js/bootstrap.min.js')

head
  link#bootstrap-css(href='node_modules/bootstrap/dist/css/bootstrap.min.css')
  script(src='//node_modules/bootstrap/dist/js/bootstrap.min.js')
  script(src="//node_modules/jquery/dist/jquery.min.js")
  link(rel='stylesheet', href='/stylesheets/login.css')
  meta(name='google-site-verification')

body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message
            div.alert.alert-danger
              = info.message
          
          h2 Admin Login
          p Por favor, ingrese su email and password
        
        form#Login(action='/login' method='post')
          .form-group
            input#username.form-control(type='email' placeholder='Email Address' name='username')
          .form-group
            input#password.form-control(type='password' placeholder='password' name='password')
          .forgot
            a(href='/forgotPassword') Ovide mi password
          
          a(href='/auth/google') Log In con Google

          button.btn.btn-primary(type='submit') Login