extends ../layout

block content
  a.btn.btn-success(href='/usuarios/create') Nuevo Usuario

  br
  br

  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Nombre
        th(scope='col') Email
        th(scope='col') Verificado
        th(scope='col') 
        th(scope='col')
    tbody
      each usuario in usuarios
        tr
          td(scope='row')
            = usuario.id
          td= usuario.nombre
          td= usuario.email
          td= usuario.verificado ? 'SI' : 'NO'
          td
            a.btn(href='usuarios/' + usuario.id + '/update') Editar
          td
            form.inline(method='post' action='usuarios/' + usuario._id + '/delete')
              input(type='hidden' name='id' value=usuario.id)
              button.link-button.btn.btn-danger(type='submit' name='submit_param' value='Eliminar')