<h1>Politica de privacidad</h1>

<p>Fecha efectiva: 14 de septiembre de 2009</p>

<p>
  Red de Bicicletas ("Nosotros", "a nosotros", "a nuestros") opera en el sitio web
  https://red-bicicletas-v0.herokuapp.com/
</p>

<p>
  Esta página le informa de nuestras politicas en materia de recopilacion, uso y divulgacion de datos personales
</p>