h1 Nueva Bicicleta
br
a(href='/bicicletas') Volver
br
br

form(action='/bicicletas/create' method='post')
  label(for="code") Code:
  input#code(type="text" name="code")
  br
  label(for="color") Color:
  input#color(type="text", name="color")
  br
  label(for="modelo") Modelo:
  input#modelo(type="text", name="modelo")
  br
  label(for="lat") Latitud:
  input#lat(type="text", name="lat")
  br
  label(for="lng") Longitud:
  input#lng(type="text", name="lng")
  br
  br
  input.btn(type="submit", value="OK")